body{
  background-color: #001529;
}

.ant-col-rtl .login-form-forgot {
  float: left;
}

.form-item
{
  border-radius: 5px;
  box-shadow: none !important; 
}

.login-container{
  height: calc(100% - 88px - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 400px;
  border-radius: 15px;
  padding: 20px 20px 0px 20px;
  background-color: #ffffffff;
}

.login-form-button {
  width: 100%;
  border-radius: 5px;
  border-color: none !important;
  box-shadow: none !important;
}

.login-form-forgot {
  float: right;    
}

.logo-login {
  font-size: 4em;
  font-weight: bold;
  color: white;
  left: 0;
  padding-left: 10px;
}

.ant-layout-footer {
  background: #001529;
  color: ghostwhite;
}