.site-layout {
    width: calc(100% - 200px) !important;
  }

.write-post{
  display: flex;
  align-items: center;
  height: 90px;
  background-color: #13222f;
  justify-content: space-evenly;
}

.ant-input{
  margin-left: 10px;
  width: 80%;
  border-radius: 7px;
  max-height: 70px;
  resize: none;
}