.card-container {
  display: flex;
    flex-direction: column;
    background-color: ghostwhite;
    box-shadow: 1px 1px 0 0 #000000, 2px 2px 0 0 #000000, 3px 3px 0 0 #000000,4px 4px 0 0 #000000,5px 5px 0 0 #000000,6px 6px 0 0 #000000;    
    border: 3px solid rgb(134, 163, 255);
    border-radius: 15px;    
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.20s ease-out;

  }
  
  .card-container:hover {
    transform: scale(1.05);
  }
  .avatar{
    max-height: fit-content;
    max-width: fit-content;
    margin: auto;
  }
  .personal-data{
    text-align: center;
  }
  .tools{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40%;
  }

  