.site-layout-background {
    padding: 24px;
}

.message-list {
    overflow: auto;
    width: 100%;
    padding: 20px;
    height: 100%;
}

.write-post{
    display: flex;
    align-items: center;
    background-color: #13222f;
    justify-content: center;
    padding: 30px;
}

.main-window {
    width: 100%;
}

.row {
    display: flex;
}

.thread-window{
    width: 100%;
    height: calc(100vh - 64px);
    display: flex;
    flex-direction: column;
}