.site-layout-background {
    padding: 24px;
}

.content-container {
    overflow: auto;
    width: 100%;
    padding: 20px;
    height: calc(100vh - 64px - 90px);
    display: flex;
    flex-direction: column-reverse;
}