.site-layout-background{
    background-color: #001529 !important;     
    margin-left: 1%;
}
.site-layout-user{
    background-color: #001529 !important;     
    max-width: 100%;
}
.sider{
    background-color: whitesmoke !important; 
    text-align: center;
}
.content-container{
    background-color: #001529 !important;
}