.site-layout-background{
    background-color: #001529 !important; 
    
    margin-left: 1%;
}
.sider{
    background-color: whitesmoke !important; 
}
.content-container{
    background-color: #001529 !important;
}

