.header {
    background-color: #13222f;
    color:white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 0;
    height: 64px !important;
}

.header-left{
  display: flex;
  align-items: center;
}

.header .ant-skeleton {
  width: 200px;
}

.ant-skeleton-paragraph {
  margin: 0;
}